<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIND_IT Job Portal</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
  <header>
    <div class="header-content">
      <h1>FIND_IT Job Portal</h1>
      <p>Your gateway to the best job opportunities</p>
    </div>
  </header>

    <div class="nbackground-image">
      <div class="login-container-wrapper">
        <div class="slogin-container">
         <h2>schedule</h2>
<div class="schedule">
            <input type="tel" pattern="[0-9]" placeholder="Phone Number"><br></br>
    <textarea id="myTextarea" rows="4" style="height:190px;width:400px;text-align:center;font-size:large;" placeholder="Schedule the Interview"></textarea><br></br>
                <button type="submit" style="align-item:center;">schedule</button>
</div>